<h3 align = 'center'> Data Frame </h3>

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.  
You can think of it like a spreadsheet or SQL table, or a dict of Series objects.   
It is generally the most commonly used pandas object.  
DataFrame accepts many different kinds of input for example:  

- Dict of 1D ndarrays, lists, dicts, or Series  
- 2-D numpy.ndarray  
- Structured or record ndarray  
- A Series  
- Another DataFrame

In [1]:
import numpy as np
import pandas as pd

In [2]:
#constructin dataframe from a dictiionary
d = {'col1': [1,2,3], 'col2': [4,5,6]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [3]:
#dataframe has an argument called dtype.
#it is used to force the datatype of columns and only a single 
#datatype can be used. If it is not specified, pandas will infer the
#datatype by itself. For example, in the above case the infered datatype 
#is int64
df.dtypes

col1    int64
col2    int64
dtype: object

In [5]:
#to enforce a single datatype
df = pd.DataFrame(data=d, dtype=np.int8)
df.dtypes

col1    int8
col2    int8
dtype: object

In [7]:
#constructing dataframe from nd-array
df2 = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]), 
                   columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
#constructing dataframe from dataclass
from dataclasses import make_dataclass
Point = make_dataclass('Point', [('x', int), ('y', int)])
pd.DataFrame([Point(0,0), Point(0,3), Point(2,3)])

   x  y
0  0  0
1  0  3
2  2  3

Dataframe have tons of methods and functions which can be used to do almost anything with data in hand.  
We will be adding those functionalities every now and then in the coming sessions.