<h3 align="center">Python Lists</h3>

In [9]:
my_list = [1,2,3,4]

In [10]:
my_list

[1, 2, 3, 4]

In [11]:
#list methods

#append
my_list.append(5) # appends 5 to the end of the list
my_list

[1, 2, 3, 4, 5]

In [13]:
#extend
my_other_list = [7,8,9,10]
my_list.extend(my_other_list) #extend the list by adding other iterable at the end
                              #of the existing list.
my_list

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [14]:
#insert item at a given position
my_list.insert(3, 99)

In [15]:
my_list

[1, 2, 3, 99, 4, 5, 7, 8, 9, 10]

In [16]:
#remove
#remve the element passed as an argument to the method.
#gives value error if item isn't found
my_list.remove(99)
my_list

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [17]:
#pop
#Remove the item at the given position in the list, and return it. 
#If no index is specified, a.pop() removes and returns the last item in the list.
my_list.pop(0)

1

In [19]:
my_list

[2, 3, 4, 5, 7, 8, 9, 10]

In [18]:
#index
#returns the index of an element passed as an argument
#the index starts from zero
my_list.index(4)

2

In [21]:
#index
#you can also give it a range in which it is going to search the element as:
my_list.index(5, 1, 4)

3

In [23]:
#count
#return the number of time an element appears in the list
#return zero if none found.
test_list = ['Ali', 'Raza', "Adil", 'Ali']
test_list.count("Ali")

0

In [27]:
#sort 
#used to sort elements of a list in a certain order
my_list.sort(reverse = True) #elements order reversed. i.e descending order.
my_list

[10, 9, 8, 7, 5, 4, 3, 2]

In [28]:
#reverse
#reverse the order of elements 
my_list.reverse()

In [29]:
my_list

[2, 3, 4, 5, 7, 8, 9, 10]

In [30]:
#clear
#remove all elements of the list 
#equivalent to del my_list[:]
my_list.clear()
my_list

[]

***lists as stacks:***
The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index.

In [38]:
#using lists as a queus
stack = [2,3,4]
stack.append(6)
stack

[2, 3, 4, 6]

In [39]:
#pop element from the stack
stack.pop() #last out. i.e. 6 will be removed.
stack

[2, 3, 4]

***lists as queus:***
It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”); however, lists are not efficient for this purpose. While appends and pops from the end of list are fast, doing inserts or pops from the beginning of a list is slow (because all of the other elements have to be shifted by one).

In [40]:
#To implement a queue, use collections.deque which was designed to have fast appends and pops from both ends.
from collections import deque
queue = deque(['Kami', "Sohail", "Zahoor", "Shabir", "Hannan"])
queue.append("Rohail")
queue

deque(['Kami', 'Sohail', 'Zahoor', 'Shabir', 'Hannan', 'Rohail'])

In [41]:
queue.popleft() #remove element from start

'Kami'

In [43]:
queue.pop() #remove element from end

'Rohail'

In [45]:
#List Comprehensions
#for example we need square of a numbers in a list.
#One is old traditional method as
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
#Now we can do this with list comprehension in a neat way as 
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
#another example of list comprehensions 
#which combines the elements of two lists
#if they are not equal
[(x,y) for x in [1,2,3] for y in [3,4,5] if x != y]

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]

In [49]:
#create list of 2-tuples for example number and its square
[(x, x**2) for x in [1,2,3,4,5]] #The tuple must be paranthesized, otherwise an error is raised.

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [50]:
#flatten the list using two for loops inside a list comprehension.
vec = [[1,2,3],[4,5,6],[7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
#list comprehension can contain complex expressions and nested functions.
from math import pi
[str(round(pi, i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [52]:
#Nested list comprehensions
#The initial expression in a list comprehension can be an 
#arbitrary expression including another comprehension
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

#The following list will transpose the rows and columns
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

<h3 align="center">Tuples</h3>

A tuple consists of a number of values separated by commas, for instance

In [4]:
tup = 1, 2, 'Hello'
tup

(1, 2, 'Hello')

In [6]:
#accessing elements of a tuple
tup[0]

1

In [8]:
#Tuples may be nested.
t = tup, ('I', 'am', 'nested', 1)
t

((1, 2, 'Hello'), ('I', 'am', 'nested', 1))

In [9]:
#Tuples are immutable
t[0] = 123

TypeError: 'tuple' object does not support item assignment

In [10]:
#but can contain mutable objects like lists
v = ([1,2,3],[4,5,6])
v

([1, 2, 3], [4, 5, 6])

In [13]:
#mutable objects can be changed accordinly
v[0][1] = 3

In [14]:
v

([1, 3, 3], [4, 5, 6])

A special problem is the construction of tuples containing 0 or 1 items: the syntax has some extra quirks to accommodate these. Empty tuples are constructed by an empty pair of parentheses; a tuple with one item is constructed by following a value with a comma (it is not sufficient to enclose a single value in parentheses). Ugly, but effective.

In [16]:
empty= ()
type(empty)

tuple

In [20]:
singleton = 'hello',
type(singleton)
singleton

('hello',)

In [25]:
#using paranthesis with sinle element will initialize it as a string
single = ('hello')
type(single)

str

In [26]:
#packing 
t = 123, 'Hello', 321

In [27]:
#unpacking
x, y, z = t

<h3 align = 'center'>Sets</h3>

A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.  
Curly braces or the set() function can be used to create sets.   
Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section.

In [28]:
#demo of sets

basket = {'apple', 'potato', 'juice', 'mango', 'apple', 'potato'}
print(basket) # as we have initialized it with a set, it should return unique values only
              # i.e. duplicate elements will be dropped.

{'potato', 'apple', 'juice', 'mango'}

In [29]:
'mango' in basket # quick membership testing. Can be done over other iterables as well

True

In [30]:
'orange' in basket

False

In [31]:
#demonstrate set operations on two words 
a = set('abracadabra')
b = set('alacazam')

In [32]:
a

{'a', 'b', 'c', 'd', 'r'}

In [33]:
b

{'a', 'c', 'l', 'm', 'z'}

In [34]:
a - b # letters in a but not in b

{'b', 'd', 'r'}

In [35]:
a | b # letters in a or in b or in both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [36]:
a & b # letters in both a and b

{'a', 'c'}

In [37]:
a ^ b # letters in a or b but not in both

{'b', 'd', 'l', 'm', 'r', 'z'}

Similar to list comprehension, set comprehension are also supported

In [39]:
a = {x for x in 'abdrghic' if x not in 'abc'}
a

{'d', 'g', 'h', 'i', 'r'}

<h3 align = 'center'>Dicitionaries</h3>

Think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}.  
Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.

In [46]:
#example 
tel = {'jack': 4098, 'sape': 4139}
tel

{'jack': 4098, 'sape': 4139}

In [47]:
#add element
tel['kami'] = 1234
tel

{'jack': 4098, 'sape': 4139, 'kami': 1234}

In [48]:
#delete element using key
del tel['jack']
tel

{'sape': 4139, 'kami': 1234}

In [49]:
list(tel) #gives list of keys

['sape', 'kami']

In [50]:
sorted(tel) #gives keys in sorted form

['kami', 'sape']

In [53]:
'kami' in tel #membership testing

True

In [54]:
'kami' not in tel

False

In [56]:
# dict() constructor directly builds dicitionary from sequence of key-value pairs
dict([('kami', 123), ('sohail', 456), ("Hannan", 789)])

{'kami': 123, 'sohail': 456, 'Hannan': 789}

In [57]:
#in addition dict comprehensions can be used to create dicitionaries from arbitrary key and value expressions
{x: x**2 for x in [2,4,5]}

{2: 4, 4: 16, 5: 25}

In [58]:
#when the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments:
dict(kami=123, salman=234, jamal=567)

{'kami': 123, 'salman': 234, 'jamal': 567}

<h3 align = 'center' > Looping Techniques </h3>

In [1]:
#when looping through dicitionaries the key and corresponding value
#can be retrieved by using items() method

kings = {'sohail': 'the designer', 'kamran': 'the coder', 'hannan': 'the researcher'}
for key, val in kings.items():
    print(key, val)

sohail the designer
kamran the coder
hannan the researcher

In [2]:
#When looping through a sequence, the position index and the corresponding values can 
#be retrieved using enumerate() method.
for i, val in enumerate([2,4,5]):
    print(i, val)

0 2
1 4
2 5

In [5]:
#using enumerate with dicitionaries
for i, val in enumerate(dict(kami = 'the coder', sohail = 'the designer', hannan = 'the researcher')):
    print(i, val)

0 kami
1 sohail
2 hannan

In [8]:
#to loop over two or more sequences at the same time
#the entries can be paired with zip() function
countries = ['Pakistan', "Bangladesh", "India", 'England']
capitals = ['Islamabad', "Dhaka", "Dehli", "London"]

for country, capital in zip(countries, capitals):
    print('{0} is the capital of {1}'.format(capital, country))

Islamabad is the capital of Pakistan
Dhaka is the capital of Bangladesh
Dehli is the capital of India
London is the capital of England

In [9]:
#to loop over a sequence in reverse first traverse it in farward direction and
#call the reverse function
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [20]:
#similarly to loop over a sequence in sorted order, use sorted function
#this function returns a sorted list leaving the original one unaltered.
basket = ['mango', 'apple', 'peach', 'banana']
for i in sorted(basket):
    print(i)

apple
banana
mango
peach

In [21]:
#using set() on a sequence along with sorted() function is an idiomatic way to 
#loop over a sorted list of unique elements of a sequence
basket.extend(['appricot', 'lechi', 'melon'])
for i in sorted(set(basket)):
    print(i)

apple
appricot
banana
lechi
mango
melon
peach